
    <h1>Kabir Narayan ITIS3135

    </h1>
    <nav>
        <a href="./">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="whimsical/about.html">Whimsical</a>
        <a href="byo_intro.html">BYOIntroForm</a>
        <a href="clientproject/index.html">ClientProject</a>
        <a href="website_evaluations.html">WebsiteEvaluation</a>
        <a href="slideshow.html">Slideshow</a>
        <a href="tables.html">Tables</a>
        <a href="drawing.html">P5Drawing</a>

    </nav>
